@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
    background-color:cadetblue;
  }

.content {
    padding: 10px;
    padding-top: 20px;
    background-color: grey;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

#header-mid {
    padding-left: 60px;
}
.name, .role {
    font-family: 'Roboto', sans-serif;

    padding-left: 60px;
    font-size: 68px;
    font-weight: 600;
}

.name {
    color: white;
}

.role {
    color: gray;
}
#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
}

#nav-bar .active {
    background-color: orangered;
}

#nav-bar ul {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: block;
    text-align: center;
    color: white;
    background-color: black;
    padding: 14px 16px;
    text-decoration: none;

}

#nav-bar li a:hover {
    background-color: grey;
}

#nav-bar li {
    display: inline;
}
